.heart-icon {
  transition: color 0.5s;
}

.heart-icon.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hearts-container {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 15px;
}
