.result-message {
  border: 3px solid var(--bright);
  padding: 10px;
  background-color: gray;
  margin: 10px auto;
  width: var(--panel-width);
  max-width: 100%;
}

.result-message .button-common {
  margin: 15px auto auto 5px;
}

.result-message > p {
  font-size: 0.75rem;
  overflow-wrap: break-word;
}

.result-message > p > span {
  color: var(--bright);
}
